<div id="minicart">
  <% @body_id = 'cart' %>

  <% if current_order.nil? || current_order.line_items.empty? %>

    <div data-hook="empty_minicart">
      <p><%= Spree.t(:your_cart_is_empty) %></p>
      <p><%= link_to Spree.t(:continue_shopping), spree.products_path, :class => 'button continue' %></p>
    </div>

  <% else %>
    <div data-hook="outside_minicart_form">
      <div id="minicart-details" data-hook="minicart_details" class="clearfix">
        <p>
          <span><%= Spree.t(:subtotal) %>: <span class="order-total"><%= current_order.display_item_total %></span></span>
          <%= link_to Spree.t(:checkout), spree.checkout_path, :class => 'button checkout primary', :id => 'checkout-link' %>
        </p>
      </div>
      <%= form_for current_order, :url => spree.update_cart_path, :html => {:id => 'update-minicart'}, :remote => true do |order_form| %>
        <div data-hook="inside_minicart_form">

          <div data-hook="minicart_items" class="clearfix">
            <%= render :partial => 'spree/shared/error_messages', :locals => { :target => @order } %>
            <ul id='minicart-items' class="clearfix">
              <%= order_form.fields_for :line_items do |item_form| %>
                <%= render :partial => 'spree/shared/minicart_line_items', :locals => { :variant => item_form.object.variant, :line_item => item_form.object, :item_form => item_form } if item_form.object.variant %>
              <% end %>
            </ul>
          </div>
        <div id="minicart-footer" data-hook="minicart_footer">
          <p><%= link_to Spree.t('view_shopping_cart'), spree.cart_path, :class => 'cart' %></p>
        </div>
        </div>
      <% end %>
    </div>
  <% end %>

</div>